body {
    font: 14px "Century Gothic", Futura, sans-serif;
}

#errors {
    background: #c00;
    color: #fff;
    display: none;
    margin: -20px -20px 20px;
    padding: 20px;
    white-space: pre-wrap;
}

#connected-users-sidebar {
    display: inline-block;
    padding: 10px;
    border: solid medium black;
    float: left;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
}

#chat {
    display: inline-block;
    padding: 10px;
    border: solid medium black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 300px;
    position: absolute;
}

.current-user {
    font-weight: bold;
}

.message {
    margin-bottom: 5px;
    border: dashed orangered medium;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
}

.message-body {
    color: darkblue;
}

.message-author {

}

.message-timestamp {

}
