body {
    font: 14px "Century Gothic", Futura, sans-serif; margin-top: 40px;
}

#errors {
    background: #c00;
    color: #fff;
    display: none;
    margin: -20px -20px 20px;
    padding: 20px;
    white-space: pre-wrap;
}

#connected-users-sidebar {
}

#chat {
}

.current-user {
    font-weight: bold;
}

.message-container-mine {
    text-align: left;
}

.message-container-not-mine {
    text-align: right;
}

.message {
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 10px;
    display: inline-block;
}

.message-mine {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.message-not-mine {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1
}

.message-body {
    font-weight: bold;
}

.message-author {

}

.message-timestamp {

}
