body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#errors {
    background: #c00;
    color: #fff;
    display: none;
    margin: -20px -20px 20px;
    padding: 20px;
    white-space: pre-wrap;
}